<div class="contents row">
  <br>
  <% if user_signed_in? %>
  <div><%= link_to "顧客登録", new_customer_path, class: "post" %>
  </div>
  <div><%= link_to "商品登録", new_item_path, class: "post" %>
  </div>
  <% end %>
  <div><%= link_to "商品一覧", items_path, class: "post" %>
  </div>
  <br>
  <h4>顧客一覧</h4>
  <% @customers.each do |customer| %>
    <div class="content_post" >
      <span class="name">
        <%= link_to customer.name, customer_path(customer), class: "post" %>
      </span>
    </div>
  <% end %>
</div>