<div class="contents row">
  <div class="container">
    <h4>顧客登録</h4>
    <%= form_with(model: @customer, local: true) do |form| %>

      <%= render 'shared/error_messages', model: form.object %>
    
      <%= form.text_field :name, placeholder: "顧客名" %>
      <%= form.submit "登録" %>
    <% end %>
  </div>
</div>