<h4>商品一覧</h4>
<div class="contents row">
  <% @items.each do |item| %>
    <div class="content_post" >
      <span class="name">
        <%= item.name %>
        <%= item.purchase_price %>円
      </span>
    </div>
  <% end %>
</div>